apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
bootstrapTokens:
  - token: "9a08jv.c0izixklcxtmnze7"
    description: "kubeadm bootstrap token"
    ttl: "24h"

---

apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
clusterName: "lingxian-k8s"
kubernetesVersion: v{{ k8s_version }}
networking:
  podSubnet: {{ pod_subnet }}
imageRepository: "k8s.gcr.io"
useHyperKubeImage: true
apiServer:
  certSANs:
    - {{ ansible_local_ip }}
    - {{ ansible_public_ip }}
  extraArgs:
    cloud-provider: "external"
    enable-admission-plugins: NodeRestriction
    runtime-config: storage.k8s.io/v1alpha1=true
controllerManager:
  extraArgs:
    cloud-provider: "external"