---
apiVersion: cert-manager.io/v1beta1
kind: ClusterIssuer
metadata:
  name: {{ ca_name_prod }}
  namespace: cert-manager
spec:
  acme:
    # The ACME server URL
    server: {{ ca_server_url_prod }}
    # Email address used for ACME registration
    email: {{ ca_email }}
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: {{ ca_name_prod }}
    # Enable the HTTP-01 challenge provider
    solvers:
    - http01:
        ingress:
          class:  nginx

#apiVersion: certmanager.k8s.io/v1alpha1
#kind: ClusterIssuer
