apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ hostvars[groups['k8s_master'][0]]['ansible_local_ip'] }}:6443
    token: dcdcrz.lzsf2pq4bzbmt0ck
    unsafeSkipCAVerification: true
