---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cloud-controller-manager
  namespace: kube-system

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openstack-cloud-controller-manager
  namespace: kube-system
  labels:
    k8s-app: openstack-cloud-controller-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: openstack-cloud-controller-manager
  template:
    metadata:
      labels:
        k8s-app: openstack-cloud-controller-manager
    spec:
      hostNetwork: true
      tolerations:
        - key: node.cloudprovider.kubernetes.io/uninitialized
          value: "true"
          effect: NoSchedule
      serviceAccountName: cloud-controller-manager
      containers:
        - name: openstack-cloud-controller-manager
          image: {{ ccm_image }}
          args:
            - /bin/openstack-cloud-controller-manager
            - --v=1
            - --cloud-config=/etc/cloud/cloud-config
            - --cloud-provider=openstack
            - --use-service-account-credentials=false
            - --cluster-name={{ reource_prefix }}-cluster
            - --leader-elect=false
          volumeMounts:
            - mountPath: /etc/cloud
              name: cloud-config-volume
              readOnly: true
      volumes:
      - name: cloud-config-volume
        configMap:
          name: cloud-config